@font-face {
  font-family: "Georama";
  src: local("Georama"), url("./assets/fonts/Georama/static/Georama/Georama-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Karantina";
  src: local("Karantina"), url("./assets/fonts/Karantina/Karantina-Regular.ttf") format("truetype");
}
html{
  scroll-behavior: smooth
}
body {
margin:0px;
padding: 0px;
width: 100%;
height: 100vh;
min-height: 100vh;
box-sizing: border-box;
background-color:rgb(4 4 18);
overflow-x: hidden;
font-family: 'Georama', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  width: 100%;
  height: 100%;
}